body {
    background-color: #f0f8ff;
    color: #004080;
}

header, footer {
    background-color: #007bff;
    color: white;
}

.nav-link {
    font-weight: bold;
}

.card {
    background-color: #e3f2fd;
    border: none;
    text-align: center;
}

.card:hover {
    background-color: #bbdefb;
    transition: 0.3s;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}
